.footer{
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    &__row{
        display: flex;
        gap: 5rem;
        justify-content: flex-end;
        background-color: $color-grey-dark-3;

        @include respond(tab){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
    &__col{
        flex: 1;
        // display: flex;
        justify-content: center;

        @include respond(phone){
            text-align: center;
        }
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;

        @include respond(phone){
            margin-bottom: 4rem;
        }
    }
    &__logo{
        width: 15rem;
        filter: grayscale(50%);
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;
        
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            background-color: $color-grey-dark-3;
            background: transparent;
            transition: all 0.2s;
        }

    &:hover,
    &:active{
        color: $color-primary;
        // box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .4);
        transform: scale(1.3);
        background: transparent;
    }
    }

    &__copyright{
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        margin: auto;
        width: 80%;
    }
}